<%= form_for @question do |f|%>
    <div>
      <%= f.label :title %>
      <%= f.text_area :title %>
    </div>
    <div>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>



    <%= f.submit %>
<% end %>