<% @questions.each do |question| %>
    <div>
      <h1>title:</h1>
      <%= question.title %>
      <h1>body:</h1>
      <%= question.body %>
      <h1>User:</h1>
      <% if question.user %>
      <%= question.user.name %>
      <% end %>

</div>
<%= link_to "Show", question_path(question) %>

    <% if can? :manage_question, question %>

<%= link_to "Edit", edit_question_path(question) %>
<%= link_to "Delete", question_path(question), method: :delete %>
<% end %>
<hr>

<% end %>
